.card-container {
  background-color: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.product-card {
  width: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 5p 5px 5px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}
.caed-tittle{
    display: flex;
    flex-direction: row;
}
.item-name {
    text-align: left;
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
  color: rgb(249 115 22);
}
.brand{
    font-weight: normal;
    font-size: 20px;
    color: rgb(156, 154, 150);
}

.card-details {
  align-content: left;
  font-size: 0.9rem;
  color: #666;
  margin: 10px 0;
}

.card-footer{
    display: flex;
   
}
.rating{
    text-align: left;
    color: rgb(129, 128, 128);
    width: 70%;
    padding: 5px;
    padding-left: 0px;
    font-size: 15px;
}
.category{
    color: rgb(129, 128, 128);
    font-weight: bold;
    text-align: left;
    padding: 10px;
    padding-left: 0px;
}
.price {
  background-color: orange;
  width: 50%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  margin-right: 10px;
}
.price-discount{
    display: flex;
}
.discount{
    font-size: small;
    width: 35%;
    font-weight: bold;
    color: rgb(23, 114, 43);
    background-color: white;
}